@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center; background-color: green; font-size: 45px"></div>
    <b>Welcome to OneMovies !!</b>
    <div>
        <pre>
            Xin chào,
                Chúng tôi vừa nhận được yêu cầu tạo lại mật khẩu của bạn. Nếu đó không phải là bạn vui lòng liên hệ với chúng tôi.
                Click <a href="@ViewBag.ResetLink"> Here</a>
        </pre>

    </div>
</body>
</html>
